; Copy this file as 'config.ini' and put your settings there.

[ON_API]
; Settings for Blackbaud's ON API
agent               = custompythonscript/0.1
username            = serviceaccount
password            = 
urlbase             = https://<school>.myschoolapp.com/api

[SKY_API]
; Settings for Blackbaud's SKY API
agent               = custompythonscript/0.1
account             = serviceaccount@school.org
subscription_key    = 
client_id           = 
client_secret       = 
redirect_uri        = https://localhost
queries_per_second  = 5
